<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="enable_debugging_output" value="1" />
    
    <add key="local_dir_1" value="d:\dev\win\testing\local\" />
    <add key="remote_dir_1" value="d:\dev\win\testing\remote\" />
  
  </appSettings>
</configuration>